<div class="container">
    <div class="row listaPosts" (change)="onChange($event)">
        <select class="col-12">
            <option value="todas">Todas</option>
            <option value="Cervezas artesanas">Cervezas artesana</option>
            <option value="Cervezas de barril">Cervezas de barril</option>
            <option value="Tercios">Tercios</option>
            <option value="Botellines">Botellines</option>
        </select>
        <div class="col-4 post text-center" *ngFor="let post of posts">
            <h3>{{ post.titulo }}</h3>
            <img [src]="post.imagen">
        </div>
    </div>
</div>